<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.16" rim:header="RIM-Widget:rim/widget">
  <name>gpstest v0.9.0.4</name>
  <description></description>
  <author rim:copyright="2012">mdineen</author>
  <icon rim:hover="false" src="icon.png"/>
  <icon rim:hover="true" src="icon.png"/>
  <rim:orientation mode="landscape"/>
  <content src="index.html"/>
</widget>