body {
    background-color: #808080;
}

div {
	font-family: Arial, Helvetica;
	font-size: 16pt;
	color: black;
    text-align: center;
    background-color: white;
    margin: auto;
}

table.navpanel {
    width: 100%;
    padding: 2px;
}

td.navtile{
    width: 33%;
}

div.topcontainer{
    width: 40%;
	max-width: 640px;
}

div.navtile{
    width: 100%;
}

div.borders{
	border: 3px solid black;
    width: 100%; 
}

div.dialogbox{
	border: 2px solid black; 
    background-color: white;
    padding: 10px;
    z-index: auto;
    position: absolute;
    top: 0; left: 0;
    margin: auto;
}

div.tightform{
	font-size: 10pt;
}

select.listbox{
    width: 95%;
}

.defaulthidden {
    visibility: hidden;
}

.smaller {
    font-size: 8pt;
}

.simboxtext {
    font-size: 11pt;
}

.bigred {
    font-size: 18pt;
    color: red;
}

.title {
	font-size: 10pt;
}

