div {
	font-family: Arial, Helvetica;
	font-size: 16pt;
	color: black;
	text-align: center;
	vertical-align: middle;
}

.title {
	font-size: 10pt;
}

div.navtile{
    width: 100%;
    height: auto;
}

td.navtile{
    width: 33%;
    height: auto;
}

div.borders{
	border: 3px solid black;
    width: 100%; 
    height: fit-content;
}

div.dialogbox{
	border: 2px solid black; 
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height:fill-available;
    top: 0;
	position: absolute;
	z-index: 1;
	background-color: white;
	text-align: center;
	vertical-align: middle;
}

div.tightform{
	font-size: 10pt;
}

select.listbox{
    width: 95%;
}

.defaulthidden {
    visibility: hidden;
}

body {
    text-align: center;
}

.topcontainer{
    width: 40%;
    margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
}

.innercontainer {
    width: 100%; 
    height: auto;
}

table.navpanel {
    width: 100%;
    height: auto;
    table-layout: auto;
    padding: 0px;
}

.smaller {
    font-size: 8pt;
}

.simboxtext {
    font-size: 11pt;
}

.bigred {
    font-size: 18pt;
    color: red;
}